    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                      <img src="img/logo/logo_line_small_white.png"/>
                    </div>
                    <div class="footer-col col-md-4 social-links">
                          <a href="{{ site.social[0].url }}" target="_blank">
                            <i class="fa fa-fw fa-{{ site.social[0].icon }} btn-social btn-outline"></i>
                            <h4>{{ site.social[0].title }}</h4>
                          </a>
                          <div class="divider">-</div>
                          <a href="{{ site.social[1].url }}" target="_blank">
                            <i class="fa fa-fw fa-{{ site.social[1].icon }} btn-social btn-outline"></i>
                            <h4>{{ site.social[1].title }}</h4>
                          </a>
                    </div>
                    <div class="footer-col col-md-4">
                        <h5>Made with
                          <i class="fa fa-fw fa-heart"></i>
                          in Toulouse
                        </h5>
                        <p><a href="mailto:{{site.email}}">{{site.email}}</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
                        Copyright &copy; {{ site.footer.copyright }} 20{{ site.time | date: '%y' }}
                        <a class="btn" href="#page-top">
                          <i class="fa fa-chevron-up"></i>
                        </a>
        </div>
    </footer>
