<!-- events Modals -->
{% for post in site.posts %}
<div class="events-modal modal fade" id="eventsModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="modal-body">
                        <img src="img/events/{{ post.header }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                          <h4>{{post.title}}</h4>
                          {% if post.subtitle %}
                            <h3>{{post.subtitle}}</h3>
                          {% endif %}

                          <!-- descriptions -->
                          {% if post.description %}
                          {% for d in post.description %}
                            <p>{{ d.line }}</p>
                          {% endfor %}


                          <div class="row">
                          <div class="col-lg-6">
                            <h4>Au programme</h4>
                            {% for p in post.program %}
                              <p>
                                <i class="fa fa-check" aria-hidden="true"></i>
                                <span class="requirements">{{p.line}}</span>
                              </p>
                            {% endfor %}

                            <div class="blue-title">Prérequis:</div>
                            {% for r in post.requirements %}
                            <p>
                              <i class="fa fa-check" aria-hidden="true"></i>
                              <span class="requirements">{{ r.line }}</span>
                            </p>
                            {% endfor %}
                          </div>

                           <div class="col-lg-6">
                              <div class="col-lg-12">
                                <h4>Vendredi 8 Juillet</h4>
                                9h00 - 18h30
                              </div>
                              {% for i in post.info %}
                              <div class="col-lg-12">
                              <div class="col-lg-4">
                                {{i.time}}
                              </div>
                              <div class="col-lg-8">
                                {{i.line}}
                              </div>
                              </div>
                              {% endfor %}
                          </div>
                        </div>
                        <div class="row">
                        <div class="blue-title">Avec le coaching de 2 experts:</div>
                            {% for c in post.coach %}
                            <div class="col-lg-6 coach-card">
                              <img class="coach-img" src="img/coach/{{ c.img }}" class="img-responsive" alt="{{ post.alt }}">
                              <p class="coach-name">{{c.name}}</p>
                              <p>{{c.description}}</p>
                              <p><a href="mailto:{{c.email}}">{{c.email}}</a></p>
                            </div>
                            {% endfor %}


                           <iframe frameborder="0" src="{{post.location.link}}" allowfullscreen></iframe>

                           <div class="col-lg-12">
                               <a class="btn btn-default" href="{{post.inscription.link}}" target="_blank">Inscription</a>
                           </div>
                         </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
