<!-- events Modals -->
<div class="events-modal" id="eventsModal-{{ page.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="modal-header">
                        <a type="button" class="close" href="/" aria-label="Close"><span aria-hidden="true">&times;</span></a>
                        <img src="{{ page.header }}" class="img-responsive img-centered" alt="{{ page.alt }}">
                        <h4>{{page.subtitle1}}</h4> {% if page.subtitle2 %}
                        <h3>{{page.subtitle2}}</h3> {% endif %}
                        <!-- descriptions -->
                        {% if page.description %} {% for d in page.description %}
                        <p>{{ d.line }}</p>
                        {% endfor %}
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <h4 class="blue-title">Au programme</h4> {% for p in page.program %}
                                <p>
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    <span class="requirements">{{p.line}}</span>
                                </p>
                                {% endfor %}

                                <div class="blue-title">Prérequis:</div>
                                {% for r in page.requirements %}
                                <p>
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    <span class="requirements">{{ r.line }}</span>
                                </p>
                                {% endfor %}
                            </div>

                            <div class="col-md-6 timeline">
                                <div class="col-sm-6 col-sm-offset-2">
                                    <!-- Whitespace added for readability -->
                                    <h4>
                              {% assign dy = page.date | date: "%a" %}
                              {% case dy %}
                                {% when "Mon" %}Lundi
                                {% when "Tue" %}Mardi
                                {% when "Wed" %}Mercredi
                                {% when "Thu" %}Jeudi
                                {% when "Fri" %}Vendredi
                                {% when "Sat" %}Samedi
                                {% when "Sun" %}Dimanche
                              {% else %}{{ dy }}
                              {% endcase %}
                            </h4>
                                    <h4>
                              {{ page.date | date: "%-d" }}
                              {% assign m = page.date | date: "%-m" %}
                              {% case m %}
                                {% when '1' %}Janvier
                                {% when '2' %}Février
                                {% when '3' %}Mars
                                {% when '4' %}Avril
                                {% when '5' %}Mai
                                {% when '6' %}Juin
                                {% when '7' %}Juillet
                                {% when '8' %}Aout
                                {% when '9' %}Septembre
                                {% when '10' %}Octobre
                                {% when '11' %}Novembre
                                {% when '12' %}Decembre
                              {% endcase %}
                              {{ page.date | date: "%Y" }}
                            </h4>
                                    <div class="blue">{{ page.start }} - {{ page.end }}</div>
                                </div>
                                {% for i in page.info %}
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="col-sm-4 time">{{i.time}}</div>
                                        <div class="col-sm-8 line">{{i.line}}</div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            {% if page.date >= site.time %}
                            <a class="btn btn-default" href="{{page.inscription.link}}" target="_blank">S'inscrire</a> {% endif %}
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="blue-title">Avec le coaching de {{ page.coach.size }} {%if page.coach.size>1%}experts{% else%}expert {% endif%}:</div>

                                {% for c in page.coach %} {%assign cols = 12 | divided_by:page.coach.size %}
                                <div class="col-sm-{{cols}} coach-card">
                                    <div class="col-sm-5">
                                        <img class="coach-img" src="/img/coach/{{ c.img }}" class="img-responsive" alt="{{ page.alt }}">
                                    </div>
                                    <div class="col-sm-7">
                                        <p class="coach-name">{{c.name}}</p>
                                          {% if c.tech %}
                                            <h5 class="blue">Équipe</h5>
                                            <h5 class="blue">{{c.tech}}</h5>
                                          {% endif %}
                                        <p>{{c.description}}</p>
                                        <p><a href="mailto:{{c.email}}">{{c.email}}</a></p>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="col-lg-12">
                            {% if page.community %}
                                <div class="col-sm-6 coach-card">
                                  <div class="blue-title">Communautés Impliquées:</div>
                                  {% for c in page.community %}
                                  <div class="row">
                                    <a href="{{ c.site }}">
                                      <img class="sponsor-img" src="{{ c.logo }}" class="img-responsive">
                                    </a>
                                  </div>
                                  {% endfor %}
                                </div>
                            {% endif %}
                            {% if page.sponsor %}
                                <div class="col-sm-6 coach-card">
                                  <div class="blue-title">Les Sponsors:</div>
                                  {% for s in page.sponsor %}
                                  <div class="row">
                                        <a href="{{ s.site }}">
                                          <img class="sponsor-img" src="{{ s.logo }}" class="img-responsive">
                                        </a>
                                  </div>
                                  {% endfor %}
                                </div>
                            {% endif %}
                          </div>

                            <div class="col-sm-12 location-card">
                                <a class="blue-title" href="{{page.location.site}}" target="_blank">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i> Dans les locaux de {{page.location.name}}:</a>
                                <iframe frameborder="0" src="{{page.location.link}}" allowfullscreen></iframe>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
