 <!-- About Section -->
    <section class="success white" id="presentation">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="title">À propos</h1>
                    <h3 class="sub-title">Rassembler des TechAddicts pour évaluer des technos Innovantes​</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p>
                      Un MonkeyTechDay est un événement rassemblant des TechAddicts pour expérimenter et évaluer en équipe des technos innovantes au travers de défis techniques.
                    </p>
                    <p>
A chaque défi, les participants, coachés par des Experts, analysent les problèmes posés, codent et présentent sous forme de pitchs de 5 minutes leurs résultats.
                    </p>
                    <p>
Le but est d’approfondir la connaissance de ces technos en échangeant avec la communauté dans un cadre agréable et une ambiance fun.
                    </p>
                  </div>
                  <div class="col-md-6">
                    <iframe frameborder="0"  type="text/html" src="http://www.youtube.com/embed/dn4hQ--S-Ao" allowfullscreen></iframe>
                  </div>
            </div>
            <div class=row>
              <div class="col-sm-4 perk">
                <h4>Expérimenter en équipe</h4>
                <img class="round-img" src="img/about/teamwork.jpg"/>
              </div>
              <div class="col-sm-4 perk">
                <h4>Défis Techniques</h4>
                <img class="round-img" src="img/about/challenges.jpg"/>
              </div>
              <div class="col-sm-4 perk">
                <h4>Repas et collations offerts</h4>
                <img class="round-img" src="img/about/meal.jpg"/>
              </div>
            </div>
              <div class="banner">
                <div class="header">
                  <h2>Et en plus !</h2>
                </div>
                <div class="content">
                  <h1 class="top">C'est 100% GRATUIT</h1>
                  <h2 class="bottom">pour tous les participants</h2>
                </div>
                <div class="footer">
                  Tous les évenements sont sponsorisés par MonkeyPatch et ses partenaires
                </div>
              </div>
        </div>
    </section>
