<!-- About Section -->
   <section class="success white" id="program">
       <div class="container">
           <div class="row">
               <div class="col-lg-12 text-center">
                   <h2>Au programme</h2>
                   <hr class="star-primary">
               </div>
           </div>
           <div class="row">
               <div class="col-lg-12">
                  <p>Deux coachs défendant chacun une des deux technos feront tout leur possible pour vous convaincre de rejoindre leur équipe.</p>
                  <p>La journée sera ponctuée par les différents défis qui seront tous suivis de recap et de phases de questions/réponses.</p>
                  <p>A la fin aura lieu un apéro dînatoire qui sera animé par la remise des prix ainsi qu’un bilan des capacités des deux technos comparées.</p>
               </div>
           </div>
       </div>
   </section>
