 <!-- About Section -->
    <section class="success" id="whatisit">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>C'est quoi?</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>Les Monkey Tech Days sont des événements organisés par la société MonkeyPatch. Ils
rassemblent deux équipes encadrées par des experts informatiques qui s’affrontent sur
deux technologies. Partant du constat qu’il arrive souvent aux informaticiens d’hésiter
entre plusieurs technos pour le développement back-end, MonkeyPatch a souhaité créer
un événement permettant d’apprendre, comparer et approfondir ses connaissances sur
deux technologies aux capacités comparables, dans une ambiance fun.</p>
                </div>
            </div>
        </div>
    </section>
