---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import About from "../components/index/About.astro";
import CTAs from "../components/index/CTAs.astro";
import Free from "../components/index/Free.astro";
import Hero from "../components/index/Hero.astro";
import PreviousSessions from "../components/index/PreviousSessions.astro";
import StickyHeader from "../components/index/StickyHeader.astro";
import UpcomingSessions from "../components/index/UpcomingSessions.astro";
import { SITE_DESCRIPTION } from "../consts";
---

<html lang="fr">
  <head>
    <BaseHead description={SITE_DESCRIPTION} />
  </head>
  <body class="flex h-dvh flex-col text-[#797676]">
    <header>
      <StickyHeader />
      <Hero />
    </header>
    <main>
      <UpcomingSessions />
      <About />
      <CTAs />
      <Free />
      <PreviousSessions />
    </main>
    <Footer />
  </body>
</html>
