footer {
    color: #fff;
}

footer h3 {
    margin-bottom: 30px;
}

footer .footer-above {
    background-color: #{{ site.color.primary }};
    color: #FFF;
}

footer img {
  width: 200px;
  padding: 2rem;
}
footer .social-links {
  padding: 3rem 0;
}
.footer-col {
  padding: 1rem 0;
}
@media(min-width:991px) {
.footer-col:last-child::after {
  content: "";
  right: 5rem;
  top: 3rem;
  height: 4rem;
  position: absolute;
  border-right: 2px solid #FFF;
}
}
.footer-col:last-child {
  padding: 2rem;
  display: inline;
}
.footer-col .divider {
  display: inline;
  padding: 0 1rem;
}
.footer-col h5 {
  margin-bottom: 0;
}
footer .footer-below {
    background-color: #{{ site.color.secondary-dark }};
    padding: 1rem;
    position: relative;
}

.footer-above a,
.footer-above a:hover {
  font-size: 16px;
  color: #FFF;
  display: inline;
}

.footer-below a {
  position: absolute;
  right: 0;
  bottom: 0;
}
.footer-above h4 {
  display: inline;
  padding-left: 1rem;
  vertical-align: middle;
}

.fa.fa-heart {
  font-size: 1.2rem;
}

.btn-social:hover {
  background: #{{ site.color.primary }};
  color: #FFF;
}

.btn-social {
    border-radius: 100%;
    width: 36px !important;
    height: 36px;
    background: #fff;
    font-size: 18px !important;
    color: #{{ site.color.primary }};
    padding-top: 9px
}
