<section class="bg-main-900 text-white">
  <div class="container m-auto px-4 py-8">
    <div class="text-center text-2xl font-medium">Et en plus !</div>
    <div class="m-4">
      <div class="flex flex-col items-center py-4">
        <div class="text-3xl font-medium">C'est 100% GRATUIT</div>
        <div class="text-xl">pour tout les participants</div>
      </div>
      <div class="mt-2 text-center">
        Tous les évènements sont sponsorisés par MonkeyPatch et ses partenaires
      </div>
    </div>
  </div>
</section>
