---
import { Image, Picture } from "astro:assets";
import Illus from "./illus.jpg";
import LogoFull from "./logo_full.png";
---

<div
  class="grid [grid-template-areas:'stack'] before:pointer-events-none before:absolute before:h-full before:w-full before:bg-linear-to-b before:from-black before:from-0% before:to-transparent before:to-35% *:[grid-area:stack]"
>
  <Picture
    src={Illus}
    formats={["avif", "webp"]}
    alt=""
    widths={[400, 720, Illus.width]}
    sizes={`(max-width: 400px) 400px, (max-width: 720px) 720px, ${Illus.width}px`}
    class="w-full object-cover sm:h-[75svh]"
    loading="eager"
  />
  <div class="z-10 grid grid-rows-[1fr_1fr] px-4 sm:h-[75svh]">
    <Image
      src={LogoFull}
      alt="Logo MonkeyTechDays"
      class="row-start-2 w-[1140px] self-center justify-self-center"
      widths={[380, 700, 1140]}
      sizes={`(max-width: 400px) 380px, (max-width: 720px) 700px, 1140px`}
      loading="eager"
    />
  </div>
</div>
