---
import { getCollection } from "astro:content";
import EventCard from "./EventCard.astro";

const events = (await getCollection("mktds"))
  .toSorted((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .filter((evt) => evt.data.date < new Date());
---

<section>
  <div class="container m-auto px-4 py-8">
    <h1 class="mb-4 text-center text-4xl font-bold text-main-900">
      Précédents rendez-vous
    </h1>
    <div class="mt-4 flex flex-wrap justify-center gap-6">
      {
        events.map((evt) => (
          <EventCard
            img={evt.data.thumbnail}
            id={evt.id}
            name={evt.data.name}
            type="mktd"
          />
        ))
      }
    </div>
  </div>
</section>
