---
import { getCollection } from "astro:content";
import EventCard from "./EventCard.astro";
import { GlowingEffect } from "./GlowingEffect";

const events = (await getCollection("mktds"))
  .toSorted((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .filter((evt) => evt.data.date > new Date());
---

{
  events.length > 0 && (
    <section>
      <div class="container m-auto px-4 pt-8">
        <h1 class="text-main-900 mb-4 text-center text-4xl font-medium">
          {events.length === 1
            ? "Notre prochain rendez-vous"
            : "Nos prochains rendez-vous"}
        </h1>
        <div class="m-4 flex flex-wrap justify-center gap-6">
          {events.map((evt) => (
            <GlowingEffect client:idle>
              <EventCard
                img={evt.data.thumbnail}
                id={evt.id}
                name={evt.data.name}
                type="mktd"
                size="large"
                eagerLoading={true}
              />
            </GlowingEffect>
          ))}
        </div>
      </div>
    </section>
  )
}
